@import '../../styles/helpers';

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 40px;

  &__navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 427px;
  }

  &__link-nav {
    color: #000;
    font-size: 14px;
    line-height: 14px;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #30F;
      transform: scale(1.05);
    }
  }

  &__icon-tools {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 176px;
  }

  &__search {
    position: absolute;
    bottom: 0;
    left: 20px;
    background-color: #FFF;
    height: 48px;
    width: 0;
    transition: 0.2s ease-in-out;
    font-size: 14px;
    color: #CCC;

    &_open-search {
      left: -190px;
      width: 215px;
      height: 48px;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      padding-left: 20px;
      padding-right: 25px;
    }
  }

  &__wrap-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #FFF;
    border-radius: 50%;
    z-index: 2;
  }
}
