@import '../../styles/helpers';

.page-catalog {
  width: 100%;
  background-color: #FFF;
  border-radius: 32px;
  padding: 40px;

  &__wrap-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__wrap-select {
    display: flex;
    align-items: center;
  }

  &__select {
    margin-right: 16px;
  }

  &__catalog {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  // &__pagination {
  //   margin: 0 auto;
  //   margin-top: 24px;
  // }
}
